var mapClassNameToPartOfSpeech = function(className) {
  var mapping = {
    'verb': '动词',
    'intransitive-verb': '自动词',
    'transitive-verb': '他动词',
    'noun': '名词',
    'adjective': '形容词',
    'adverb': '副词',
    'particle': '助词',
    'conjunction': '连词',
    'adjectival-noun': '形容动词',
    'pronoun': '代词',
    'numeral': '数词'
  };
  return mapping[className] || className;
};

var mapPartOfSpeechToClassName = function(partOfSpeech) {
  var mapping = {
    '动词': 'verb',
    '自动词': 'intransitive-verb',
    '他动词': 'transitive-verb',
    '名词': 'noun',
    '形容词': 'adjective',
    '副词': 'adverb',
    '助词': 'particle',
    '连词': 'conjunction',
    '形容动词': 'adjectival-noun',
    '代词': 'pronoun',
    '数词': 'numeral'
  };
  return mapping[partOfSpeech] || partOfSpeech;
};

module.exports = {
  mapClassNameToPartOfSpeech: mapClassNameToPartOfSpeech,
  mapPartOfSpeechToClassName: mapPartOfSpeechToClassName
};